/* *********  dashboard widget  **************************** */

table.tile {
  h3, h4, span{
    font-weight: bold;
    vertical-align: middle !important;
  }
  th, td {
    text-align: center;
  }
  th {
    border-bottom: 1px solid #E6ECEE;
  }
  td {
    padding: 5px 0;
    ul {
      text-align: left;
      padding-left: 0;
      li {
        list-style: none;
        width: 100%;
        a {
          width: 100%;
          big {
            right: 0;
            float: right;
            margin-right: 13px;
          }
        }
      }
    }
  }
}

table.tile_info {
  width: 100%;
  padding: 10px 15px;
  td {
    text-align: left;
    padding: 1px;
    font-size: 15px;
    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0;
      line-height: 28px;
    }
    i {
      margin-right: 8px;
      font-size: 17px;
      float: left;
      width: 18px;
      line-height: 28px;
    }
    &:first-child {
      width: 83%;
    }
  }
  span.right {
    margin-right: 0;
    float: right;
    position: absolute;
    right: 4%;
    @media (min-width: 192px) and (max-width: 1270px) {
      margin-right: 7px;
      float: left;
    }
  }
  a {
    text-overflow: ellipsis;
  }
}

td span {
  line-height: 28px;
}
.sidebar-widget {
  overflow: hidden;
}
// .error-number {
//   font-size: 90px;
//   line-height: 90px;
//   margin: 20px 0;
// }
.error404 {
  margin: 40px 0;
  i {
    font-size: 200px;
    margin: 20px 0;
  }
  h1 {
    font-size: 110px;
    line-height: 110px;
    margin: 0;
  }
  h2 {
    font-size:35px;
    margin: 20px 0;
  }
  p {
    width:35%;
    margin:auto;
    font-size:16px;
    line-height:30px;
  }
  a {
    padding: 13px;
    color: #D9E0E8;
    font-size:18px;
    line-height:100px;
    border-radius: 10px;
    box-shadow: 0 0 3px #D9E0E8;
    opacity: .6;
    &:hover {
      color: #2A3F54;
      background-color: #D9E0E8;
      opacity: .6;
    }
    i {
      font-size:18px;
    }
  }
}
.error500 {
  margin: -76px 0;
  color: #D9E0E8;
  h1 {
    margin: 0 -10px;
    padding: 150px 0 10px;
    background-color: #D9E0E8;
    color: #2A3F54;
    font-size: 130px;
    line-height: 130px;
    span {
      font-size:120px;
      line-height:130px;
    }
  }
  h2 {
    font-size:40px;
    margin-top: 48px;
    margin-bottom: 18px;
  }
  p {
    width:35%;
    min-width: 480px;
    margin:auto;
    font-size:16px;
    line-height:30px;
  }
  a {
    padding: 13px;
    color: #D9E0E8;
    font-size:20px;
    line-height:100px;
    border-radius: 10px;
    box-shadow: 0 0 3px #D9E0E8;
    opacity: .6;
    &:hover {
      color: #2A3F54;
      background-color: #D9E0E8;
      opacity: .6;
    }
  }
}
.col-middle {
  margin-top: 5%;
}
.mid_center {
  width: 370px;
  margin: 0 auto;
  text-align: center;
  padding: 10px 20px;
}
h3.degrees {
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}
.degrees:after {
  content: "o";
  position: relative;
  top: -12px;
  font-size: 13px;
  font-weight: 300;
}
.daily-weather .day {
  font-size: 14px;
  border-top: 2px solid rgba(115, 135, 156, 0.36);
  text-align: center;
  border-bottom: 2px solid rgba(115, 135, 156, 0.36);
  padding: 5px 0;
}
.weather-days .col-sm-2 {
  overflow: hidden;
  width: 16.66666667%;
}
.weather .row {
  margin-bottom: 0
}

/* *********  tables styling  ******************************* */

.bulk-actions {
  display: none;
}

table.countries_list {
  width: 100%;
  td {
    padding: 0 10px;
    line-height: 30px;
    border-top: 1px solid #eeeeee;
  }
}

.dataTables_paginate a {
  padding: 6px 9px !important;
  // background: #ddd !important;
  border-color: #ddd !important;
}

.pagination {
  & > .active {
    & > a {
      background-color: $primaryColor;
      border-color: $primaryColor;
      &:focus, &:hover{
        background-color: $primaryColor;
        border-color: $primaryColor;
      }
    }
    & > span {
      background-color: $primaryColor;
      border-color: $primaryColor;
      &:focus, &:hover{
        background-color: $primaryColor;
        border-color: $primaryColor;
      }
    }
  }
}
.pagination>li>a:focus{
  background-color: #fff;
}

.paging_full_numbers a.paginate_active {
  background-color: rgba(38, 185, 154, 0.59) !important;
  border-color: rgba(38, 185, 154, 0.59) !important;
}

button.DTTT_button, div.DTTT_button, a.DTTT_button {
  border: 1px solid #E7E7E7 !important;
  background: #E7E7E7 !important;
  box-shadow: none !important;
}

table.jambo_table {
  border: 1px solid rgba(221, 221, 221, 0.78);
  thead {
    background: rgba(52, 73, 94, 0.94);
    color: #ECF0F1;
  }
  tbody {
    tr {
      &:hover {
        td {
          background: rgba(38, 185, 154, 0.07);
          border-top: 1px solid rgba(38, 185, 154, 0.11);
          border-bottom: 1px solid rgba(38, 185, 154, 0.11);
        }
      }
      &.selected {
        background: rgba(38, 185, 154, 0.16);
        td {
          border-top: 1px solid rgba(38, 185, 154, 0.40);
          border-bottom: 1px solid rgba(38, 185, 154, 0.40);
        }
      }
    }
  }
}

.dataTables_wrapper {
  position: relative;
  clear: both;
  zoom: 1;
}

.dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 30px;
  margin-left: -125px;
  margin-top: -15px;
  padding: 14px 0 2px 0;
  border: 1px solid #ddd;
  text-align: center;
  color: #999;
  font-size: 14px;
  background-color: white;
}

.dataTables_length {
  width: 40%;
  float: left;
}

.dataTables_filter {
  width: 50%;
  float: right;
  text-align: right;
}

.dataTables_info {
  width: 60%;
  float: left;
}

.dataTables_paginate {
  float: right;
  text-align: right;
  a {
    background: #f00;
  }
}

table.dataTable th.focus,
table.dataTable td.focus {
    outline: 2px solid #1ABB9C !important;
    outline-offset: -1px;
}

table.display {
  margin: 0 auto;
  clear: both;
  width: 100%;
  thead {
    th {
      padding: 8px 18px 8px 10px;
      border-bottom: 1px solid black;
      font-weight: bold;
      cursor: pointer;
      &:active {
        outline: none;
      }
    }
    td:active {
      outline: none;
    }
  }
  tfoot {
    th {
      padding: 3px 18px 3px 10px;
      border-top: 1px solid black;
      font-weight: bold;
    }
  }
  tr {
    &.heading2 {
      td {
        border-bottom: 1px solid #aaa;
      }
    }
    &.even.row_selected {
      td {
        background-color: #B0BED9;
      }
    }
    &.odd.row_selected {
      td {
        background-color: #9FAFD1;
      }
    }
  }
  td {
    padding: 3px 10px;
    &.center {
      text-align: center;
    }
  }
}

.dataTables_scroll {
  clear: both;
}

.dataTables_scrollBody {
  *margin-top: -1px;
  -webkit-overflow-scrolling: touch;
}

.top, .bottom {}
.top .dataTables_info {
  float: none;
}

.clear {
  clear: both;
}

.dataTables_empty {
  text-align: center;
}

tfoot input {
  margin: 0.5em 0;
  width: 100%;
  color: #444;
}

tfoot input.search_init {
  color: #999;
}

td.group {
  background-color: #d1cfd0;
  border-bottom: 2px solid #A19B9E;
  border-top: 2px solid #A19B9E;
}

td.details {
  background-color: #d1cfd0;
  border: 2px solid #A19B9E;
}

.example_alt_pagination div.dataTables_info {
  width: 40%;
}

.paging_full_numbers {
  width: 400px;
  height: 22px;
  line-height: 22px;
  a {
    &:active{
      outline: none
    }
    &:hover {
      text-decoration: none;
    }
    &.paginate_button, &.paginate_active {
      border: 1px solid #aaa;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      padding: 2px 5px;
      margin: 0 3px;
      cursor: pointer;
    }
    &.paginate_button{
      background-color: #ddd;
      &:hover {
        background-color: #ccc;
        text-decoration: none !important;
      }
    }
    &.paginate_active {
      background-color: #99B3FF;
    }
  }
}

div.box {
  height: 100px;
  padding: 10px;
  overflow: auto;
  border: 1px solid #8080FF;
  background-color: #E5E5FF;
}
/* *********  /tables styling  ****************************** */

/* *********  /dashboard widget  **************************** */