$primaryColor: #1ABB9C;   
$contrastColor: #1bae92;
$adornColor: #fff;
$primaryBgColor: #F7F7F7;   
$formBgColor: #fff;

/* tags input */
$tagBg: #1ABB9C;   
$tagColor: #fff;   
$tagCloseColor: #fff;
/* tags input */  


/* Switch input */
$switchColor: #26B99A; 
/* Switch input */


/* btn app */
$btnAppBg: #1bae92; 
$btnAppColor: #fff; 
$btnAppBorderColor: #1bae92;
/* btn app */  